{% extends 'home.html' %}
{% load static %}
{% block body %}
    <!-- End Navbar -->

    <!-- Start Content -->
    <div id="halvor">

        <!-- Start Header -->
        {% for Blogdetail in Blogs %}
        <section class="header-detail-work luxy-el" data-horizontal="1" data-speed-y="10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <!-- head-title -->
                        <div class="head-text">
                            <h2>{{Blogdetail.title}}</h2>  
                            <div class="mt-10"></div>  
                            <p>{{Blogdetail.postdate}}</p> 
                            <h4>By {{Blogdetail.postedby}}</h4>                     
                        </div>
                    </div>
                </div>
                
                <!-- main background-->
                <div class="blog-detail bg-blog-1" style="background-image:url('/images/{{ MEDIA_ROOT }}{{ Blogdetail.image }}')"></div>
                <div id="headmove" class="lines">
                       <!--  <div data-depth="0.2" class="img-line">
                            <img src="/images/{{ MEDIA_ROOT }}{{ Blogdetail.image }}" alt="">
                        </div> -->
                         <div data-depth="0.2" class="img-line">
                            <img src="assets/img/lines.png" alt="">
                        </div>
                    </div>
            </div>
        </section>
        <!-- End Header -->

        <!-- Start Content -->
       <section class="between blog-details">
            <div class="mouse-down page"></div>
           <div class="container">
               <div class="col-md-10 offset-md-1">
                    <h4>{{Blogdetail.shorttitle}}</h4>
                    <hr>
                    <p style="text-align:justify">{{Blogdetail.description}}</p>
                 
               </div>
           </div>
       </section>
       {% endfor %}
        <!-- End Content -->

         <!-- Start News -->
         
            <!-- End News -->

        <!-- Start Footer -->

{% endblock body %}