{% extends 'home.html' %}
{% load static %}
{% block body %}
    <!-- End Navbar -->

    <!-- Start Content -->
    <div id="halvor">

        <!-- Start Header -->
        <section class="header-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 text-md-left text-center mt-30">

                        <!-- head-title -->
                        <div class="head-text">
                            <h2>OUR SERVICES</h2>
                            <div class="mt-10"></div>
                            <p>We’ve pushed ourselves to deliver the most forward-thinking digital experiences for our
                                clients. We fundamentally believe in supporting our people to create the future. More
                                than
                                any process or tool.</p>
                        </div>
                    </div>

                </div>
                <div id="headmove" class="lines-page">
                    <div data-depth="0.2" class="img-line">
                        <img src="{% static 'assets/img/lines.png' %}" alt="">
                    </div>

                </div>
            </div>
        </section>
        <!-- End Header -->

        <section class="main-service between">
            <div class="container">
                <div class="row">
                    <!-- service item -->
                    <div class="col-md-4 text-center">
                        <div class="button_su_service">
                            <span class="su_button_circle_service">
                            </span>
                            <div class="button_su_inner_service">
                                <span class="button_text_container_service">
                                    <div class="service-page-item">
                                        <div class="img-service-page">
                                            <img class="img-fluid" src="{% static 'assets/img/service/a.png' %}" alt="">
                                        </div>
                                        <div class="service-page-text">
                                            <h3>WEB DESIGN</h3>
                                            <p>Carefully selected elements, presented in a visually attractive way. We
                                                will create
                                                wonderful, functional and intuitive digital products. Attractive,
                                                Website or Mobile
                                                Application will engage your user and stimulate his emotions and
                                                associations.</p>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- service item -->
                    <div class="col-md-4 text-center">
                        <div class="button_su_service">
                            <span class="su_button_circle_service">
                            </span>
                            <div class="button_su_inner_service">
                                <span class="button_text_container_service">
                                    <div class="service-page-item">
                                        <div class="img-service-page">
                                            <img class="img-fluid" src="{% static 'assets/img/service/b.png' %}" alt="">
                                        </div>
                                        <div class="service-page-text">
                                            <h3>BRANDING</h3>
                                            <p>From the first idea through sketches to a fully armed prototype. Basic or
                                                fully
                                                interactive prototypes of your software will make your business suitable
                                                for
                                                customers. We will adapt your business strategy for a unique user
                                                journey.</p>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- service item -->
                    <div class="col-md-4 text-center">
                        <div class="button_su_service">
                            <span class="su_button_circle_service">
                            </span>
                            <div class="button_su_inner_service">
                                <span class="button_text_container_service">
                                    <div class="service-page-item">
                                        <div class="img-service-page">
                                            <img class="img-fluid" src="{% static 'assets/img/service/c.png' %}" alt="">
                                        </div>
                                        <div class="service-page-text">
                                            <h3>WEB DEVELOPMENT</h3>
                                            <p>Each software requires the right engine and team with a multi-dimensional
                                                approach to
                                                turn the perfect product into practice. We develop a custom backend,
                                                using
                                                frameworks and libraries that support server-side rendering and cloud
                                                computing</p>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- service item -->
                    <div class="col-md-4 text-center">
                        <div class="button_su_service">
                            <span class="su_button_circle_service">
                            </span>
                            <div class="button_su_inner_service">
                                <span class="button_text_container_service">
                                    <div class="service-page-item">
                                        <div class="img-service-page">
                                            <img class="img-fluid" src="{% static 'assets/img/service/d.png' %}" alt="">
                                        </div>
                                        <div class="service-page-text">
                                            <h3>GRAPHIC</h3>
                                            <p>Carefully selected elements, presented in a visually attractive way. We
                                                will create
                                                wonderful, functional and intuitive digital products. Attractive,
                                                Website or Mobile
                                                Application will engage your user and stimulate his emotions and
                                                associations.</p>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- service item -->
                    <div class="col-md-4 text-center">
                        <div class="button_su_service">
                            <span class="su_button_circle_service">
                            </span>
                            <div class="button_su_inner_service">
                                <span class="button_text_container_service">
                                    <div class="service-page-item">
                                        <div class="img-service-page">
                                            <img class="img-fluid" src="{% static 'assets/img/service/e.png' %}" alt="">
                                        </div>
                                        <div class="service-page-text">
                                            <h3>SOCIAL MEDIA</h3>
                                            <p>From the first idea through sketches to a fully armed prototype. Basic or
                                                fully
                                                interactive prototypes of your software will make your business suitable
                                                for
                                                customers. We will adapt your business strategy for a unique user
                                                journey.</p>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- service item -->
                    <div class="col-md-4 text-center">
                        <div class="button_su_service">
                            <span class="su_button_circle_service">
                            </span>
                            <div class="button_su_inner_service">
                                <span class="button_text_container_service">
                                    <div class="service-page-item">
                                        <div class="img-service-page">
                                            <img class="img-fluid" src="{% static 'assets/img/service/f.png' %}" alt="">
                                        </div>
                                        <div class="service-page-text">
                                            <h3>BRANDING</h3>
                                            <p>Each software requires the right engine and team with a multi-dimensional
                                                approach to
                                                turn the perfect product into practice. We develop a custom backend,
                                                using
                                                frameworks and libraries that support server-side rendering and cloud
                                                computing</p>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Start Work -->
        <section class="work between">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="title-main">
                            <h2>Work</h2>
                            <p>Our Selected projects.</p>
                        </div>
                    </div>

                    <div class="col-4 text-right">
                        <div class="button_su_border mt-10">
                            <span class="su_button_circle_border">
                            </span>
                            <a href="{% url 'work' %}" class="button_su_inner_border">
                                <span class="button_text_container_border">
                                    SEE ALL
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="work-slider">
                    <div class="owl-carousel owl-theme">

                      {% for newwork in Serwork %} 
                    <!-- work item -->
                   <div class="work-item">
                            <a class="load-halvor" href="#">
                                <div class="work-text">
                                    <h3>{{newwork.title}}</h3>
                                    <p>{{newwork.shorttitle}}</p>
                                    <span>Posted By {{newwork.postedby}}</span>
                                </div>
                                <div class="border-work"></div>
                                <div class="img-item">
                   <img style="background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(228,51,60,1) 35%, rgba(0,212,255,1) 100%);" src="/images/{{ MEDIA_ROOT }}{{ newwork.image }}" class="img-fluid" alt="">
                                </div>
                            </a>
                        </div>
                    <!-- work item -->
                    {% endfor %}
                        <!-- work item -->
                        

                    </div>
                </div>
            </div>
        </section>
        <!-- End Work -->
        <!-- Start Footer -->

{% endblock body %}